[packages]
pandas = "*"  # Install the latest version
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
cufflinks = "*"
scikit-learn = "*"
flask = "*"
jupyter = "*"
tensorflow = "*"
tensorflow-hub = "*"
tensorflow-text = "*"
nltk = "*"
chardet = "*"
wordcloud = "*"
xgboost = "*"
